<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /~2359011/pet_management/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>